*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    // font-family: 'Poppins', sans-serif;
    // font-family: 'Varela', sans-serif;
    font-family: 'Cairo', sans-serif;
}
